.addsong-wrapper {
  display: block;
  background-color: rgb(156, 154, 154);
  margin-top: 10vh;
  margin-left: 20%;
  margin-right: 20%;
}

.single-song-player {
  display: inline-block;
  margin-left: 5vw;
  margin-top: 80px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}
.single-song-player:hover {
  background-color: green;
}

.song-icon-player {
  margin-top: 10%;
  margin-left: 15%;
  position: absolute;
  cursor: pointer;
}

.addsong-category-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: 100px;
  }
}

.addsong-image-category-container {
  position: relative;
  text-align: center;
  cursor: pointer;
  filter: drop-shadow(0 0 0.2rem rgb(27, 27, 27));
  margin: 5px;
  border: 2px solid white;
}
.addsong-image-category-container.active-category {
  border: 2px solid green;
}

.addsong-image-category-text {
  position: absolute;
  color: white;
  bottom: 10px;
  width: 100px;
  text-align: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.161);
}
.music-icon {
  font-size: 3rem;
}
.image-icon {
  margin-top: 20%;
  font-size: 3rem;
}

.addsong-input-container {
  position: relative;
  height: 250px;
  margin-top: 20px;
}
.submit-field {
  text-align: center;
  padding: 20px;
}
.submit-button {
  font-size: 1.5rem;
  width: 110px;
  height: 35px;
  background: rgba(0, 128, 0, 0);
  color: white;
  border: 3px white solid;
  border-radius: 5px;
}

.submit-button:hover {
  color: white;
  border: 3px white solid;
  background-color: rgba(0, 128, 0, 0.319);
}

.dropzone_image {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 120px;
  height: 120px;
  cursor: pointer;
  border: 2px dotted white;
  text-align: center;
}

.image-uploaded {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 120px;
  height: 120px;
}

.dropzone_audio {
  text-align: center;
  position: absolute;
  width: 90%;
  margin-left: 5%;
  height: 50px;
  bottom: 10px;
  left: 0;
  cursor: pointer;
  border: 2px dotted white;
  border-radius: 10px;
}
.song-uploaded {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.input-fields {
  margin-left: 30%;
}
