.albumSearchWrapper{
    display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    margin-top: 10vh;
    margin-left: 8vw;
}
.albumSearchImage img{
    max-height: 40vh;
    width: auto;
}
.allSongContainer{
    display: flex;
    flex-direction: column;
}
.eachSongContainer{
    float: right;
    position: relative;
    text-align: center;
    margin: 10px;
    width: 200px;
    cursor: pointer;
    filter: drop-shadow(0 0 0.2rem rgb(27, 27, 27));
}