.albumWrapper{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
    margin-left: 10vw;
}
.albumImage{
    position: relative;
    text-align: center;
    margin: 10px;
    width: 200px;
    cursor: pointer;
}
.albumName{
    display: flex;
    align-items: center;
    justify-content: center;
}