.artistWrapper{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
    margin-left: 10vw;
}
.imageWrapper{
    height: 200px;
    width: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.artistImage{
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.artistName{
    display: flex;
    align-items: center;
    // max-width: 200px;
    justify-content: center;
}
.artistFollowers{
    margin-left: 1vw;
}