//Add your default colors here
$font-color-primary: white;

$font-primary: "Open Sans", sans-serif;
$font-header: "Lora", serif;

$hover-category-text-color: #0c7d4373;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1 rem = 10px
}

body {
  font-family: $font-primary;
  color: $font-color-primary;
  font-weight: 400;
  line-height: 1.6;
  background-color: #4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}

a {
  text-decoration: none;
  color: inherit;
}
