.search-wrapper {
  // margin-top: 2vh;
  margin-left: 120px;

  h1 {
    // text-align: center;
    padding: 40px;
  }
  img {
    position: relative;
    // border-radius: 5%;
    margin: 10px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    filter: drop-shadow(0 0 0.2rem rgb(27, 27, 27));
  }
  img:hover {
    filter: drop-shadow(0 0 0.35rem rgba(196, 196, 196, 0.315));
  }
  input {
    font-size: 2vh;
    border-radius: 5px;
    padding: 2px 4px;
    margin-top: 9vh;
    background: transparent;
    width: 100%;
    height: 8vh;
    border-color: rgba(255, 255, 255, 0.161);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.161);
    font-size: 40px;
    color: white;
  }
}
.search-artist-img {
  border-radius: 50%;
}
.result-box {
  display: grid;
  grid: auto-flow / repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
  .search-track-play {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .search-track-play-inner {
      position: absolute;
      text-align: center;
      font-size: 25px;
      background-color: black;
      border-radius: 30px;
      width: 60px;
      height: 60px;
      color: white;
      padding-top: 13px;
      margin-left: auto;
      z-index: 10;
      opacity: 0;
    }
    .search-track-play-inner:hover {
      opacity: 0.8;
      animation-name: fade-in;
      animation-duration: 0.5s;
    }
  }
}
.searchButton {
  font-size: 2vh;
  background-color: rgb(163, 163, 163);
  border: 2px solid rgb(163, 163, 163);
  padding: 2px 4px;
  border-radius: 30px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.searchButton:hover {
  background-color: rgb(255, 255, 255);
}
