$nav-color: #111b1b;
.sideBarContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 15vw;
  // max-width: 200px;
  justify-content: center;
  .topNavContainer {
    width: 15vw;
    // max-width: 200px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 60px;
    align-items: center;
    a{
    width: 100%;
    text-align: center;
    }
  }
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
  padding: 3vh;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  background-color: #55898f;
  padding-bottom: 3vh;
  font-size: 1.5vh;
}

.sideNavContainer {
  // border: 3px solid red;
  background-color: $nav-color;
  // padding-top: 6vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.search-wrapper {
  display: flex;
  // flex-direction:
}
.navItemsContainer {
  // margin-top: 5vh;
  display: flex;
  flex-direction: column;
}
.sideNavItems {
  margin-top: 2vh;
  font-size: 2vh;
  color: rgb(163, 163, 163);
  padding: 0 2vw;
  transition-duration: 0.3s;
  // position: relative;
}
.sideNavItems:hover {
  color: white;
  background-color: #0c7d4373;
}
.search-icon {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(163, 163, 163);
  transition-duration: 0.3s;
  margin-left: 1vw;
}
.search-icon:hover {
  color: white;
}

.profileButton {
  // margin-left: 4vw;
  height: 9vh;
  width: 9vh;
  padding: 2vh;
  border-radius: 50%;
}
.display-name {
  font-size: 15px;
}
