.sideNavContainer {
  // border: 3px solid red;
  background-color: #2b2b2b;
  display: flex;
  // float: left;
  flex-direction: column;
  position: fixed;
  top: 9.7vh;
  align-items: center;
  padding-top: 5vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 70vh;
  z-index: 5;
}
.logo {
  position: absolute;
  top: -12vh;
  padding: 5vh;
  border-radius: 50px;
}
h6 {
  // margin-top: 10vh;
  color: white;
}
.navItemsContainer {
  margin-top: -5vh;
  display: flex;
  flex-direction: column;
}
.sideNavItems {
  font-size: 2vh;
  // position: relative;
}
