.sideBarContainer{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5vh;
  justify-content: center;
  z-index: 5;
}
.logo{
  font-size: 2vh;
  position: absolute;
  top: -2.5vh;
  left: 3vw;
  padding: 3vh;
  border-radius: 50%;
}
.sideNavContainer{
  // border: 3px solid red;
  background-color: #2b2b2b;
  padding-top: 6vh;
  padding-bottom: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search{
  // margin-top: -5vh;
  // font-size: 2vh;
  height: 7vh;
  width: 7vh;
  padding: 2vh;
}
.navItemsContainer{
  // margin-top: -5vh;
  display: flex;
  flex-direction: column;
}
.sideNavItems{
  margin-top: 2vh;
  font-size: 2vh;
  color: rgb(163, 163, 163);
  padding: 0 1.5vw;
  transition-duration: 0.3s;
  // position: relative;
}
.sideNavItems:hover{
  color: white;
  background-color: #0c7d4373;
}
