.songs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.songsTitle {
  position: relative;
  // top: 10vh;
  left: 38vw;
  // margin-top: 100px;
  border-bottom: 3px solid #0c7d4373;
  text-align: center;
  width: 30vw;
}

.songs-img-container {
  position: relative;
  text-align: center;
  margin: 10px;
  width: 200px;
}

.sub-songs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  width: 100vw;
}
.song-track-play {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .song-track-play-inner {
    position: absolute;
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    color: white;
    padding-top: 13px;
    margin-left: auto;
    z-index: 10;
    opacity: 0;
  }
  .song-track-play-inner:hover {
    opacity: 0.8;
    animation-name: fade-in;
    animation-duration: 0.5s;
  }
}
