.songs-container {
  margin-top: 50px;
}

.songs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.songs-img-container {
  position: relative;
  text-align: center;
  margin: 10px;
  width: 200px;
}

.delete-icon {
  position: absolute;
  top: 4px;
  left: 7px;
  height: 2.5vh;
  padding: 0 5px;
  font-size: 1.2rem;
  transition-duration: 0.3s;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #4e4e4e;
}
.delete-icon:hover {
  color: red;
  background-color: white;
  border: 2px solid red;
}
.sub-songs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  width: 100vw;
}
.song-track-play {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .song-track-play-inner {
    position: absolute;
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    color: white;
    padding-top: 13px;
    margin-left: auto;
    z-index: 10;
    opacity: 0;
  }
  .song-track-play-inner:hover {
    opacity: 0.8;
    animation-name: fade-in;
    animation-duration: 0.5s;
  }
}
