*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 400;
  line-height: 1.6;
  background-color: #4e4e4e; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif; }

a {
  text-decoration: none;
  color: inherit; }

.home-image-container {
  position: relative;
  text-align: center;
  margin: 10px;
  width: 200px;
  cursor: pointer;
  filter: drop-shadow(0 0 0.2rem #1b1b1b); }

.category-text {
  position: absolute;
  color: white;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.161); }

.category-text h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.home-image-container:hover {
  filter: drop-shadow(0 0 0.35rem rgba(196, 196, 196, 0.315)); }
  .home-image-container:hover .category-text {
    color: white;
    background-color: #0c7d4373; }

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10vh;
  margin-left: 8vw; }

.category {
  margin-top: 10.5vh;
  margin-left: 7.5vw; }

.songs-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.songs-img-container {
  position: relative;
  text-align: center;
  margin: 10px;
  width: 200px;
  border-radius: 50%; }

.fav-songs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

input {
  font-size: 2vh;
  border: none;
  border-radius: 10px;
  padding: 2px 4px;
  margin-top: 11vh;
  margin-left: 20vw; }

.searchButton {
  font-size: 2vh;
  background-color: #a3a3a3;
  border: 2px solid #a3a3a3;
  padding: 2px 4px;
  border-radius: 30px;
  transition-duration: 0.5s;
  cursor: pointer; }

.searchButton:hover {
  background-color: white; }

.track-play-inner {
  position: absolute;
  text-align: center;
  font-size: 25px;
  background-color: black;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  color: white;
  padding-top: 13px;
  margin-left: 80px;
  bottom: 80px;
  opacity: 0; }

.track-play-inner:hover {
  opacity: 0.8;
  animation-name: fade-in;
  animation-duration: 0.5s; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 0.8; } }

.topNavContainer {
  background-color: #2b2b2b;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5; }

.loginLogout {
  font-size: 2vh;
  background-color: #a3a3a3;
  border: 2px solid #a3a3a3;
  padding: 2px 4px;
  border-radius: 30px;
  transition-duration: 0.5s;
  cursor: pointer; }

.loginLogout:hover {
  background-color: white; }

.profileButton {
  margin: 0 15px;
  padding: 2vh;
  border-radius: 50px; }

.displayName {
  margin-right: 5vw;
  font-size: 2vh;
  color: white; }

.sideBarContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5vh;
  justify-content: center;
  z-index: 5; }

.logo {
  font-size: 2vh;
  position: absolute;
  top: -2.5vh;
  left: 1.5vw;
  padding: 3vh;
  border-radius: 50px; }

.sideNavContainer {
  background-color: #2b2b2b;
  padding-top: 6vh;
  padding-bottom: 800px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.search {
  font-size: 2vh; }

.sort {
  margin-top: 10px;
  color: white; }

.navItemsContainer {
  display: flex;
  flex-direction: column; }

.sideNavItems {
  margin-top: 2vh;
  font-size: 2vh;
  color: #a3a3a3;
  padding: 1.5vh 1.5 vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw; }

.sideNavItems:hover {
  color: white;
  background-color: #0c7d4373; }

.albumWrapper {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10vh;
  margin-left: 10vw; }

.albumImage {
  position: relative;
  text-align: center;
  margin: 10px;
  width: 200px;
  cursor: pointer; }

.albumName {
  display: flex;
  align-items: center;
  justify-content: center; }
