*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #4e4e4e;
  font-weight: 400;
  line-height: 1.6;
  background-color: #dfdfdf; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif; }

a {
  text-decoration: none;
  color: inherit; }

input {
  position: absolute;
  font-size: 2vh;
  border-radius: 10px;
  margin-left: 20vw; }

.topNavContainer {
  /* border: 3px solid teal; */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw; }

.loginButton {
  font-size: 2vh;
  margin-left: 70vw; }

.profileButton {
  padding: 4vh;
  border-radius: 50px; }

.username {
  /* margin-left: 80vw; */
  font-size: 2vh;
  color: white; }

.sideNavContainer {
  /* border: 3px solid red; */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10vh;
  align-items: center;
  padding-top: 5vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 64.8vh; }

.logo {
  position: absolute;
  top: -12vh;
  padding: 5vh;
  border-radius: 50px; }

h6 {
  /* margin-top: 10vh; */
  color: white; }

.navItemsContainer {
  margin-top: -5vh;
  display: flex;
  flex-direction: column; }

.sideNavItems {
  font-size: 2vh;
  /* position: relative; */ }
